:root{
	--darkgreen:#1db954;
	--lightgreen:#1ed760;
	--black:#191414;
	--textColor:#808080;
	--transition: 0.2s ease-in-out;
	--font:'Oswald', sans-serif;
}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: var(--font);
	
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	}
